html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: poppins;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: white;
}

.banner {
  background-image: url(img/banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}
.banner .navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  height: 10vh;
  align-items: center;
}
.banner .navbar .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .navbar .nav-item {
  width: 350px;
}
.banner .navbar .nav-item ul {
  display: flex;
  justify-content: space-between;
}
.banner .navbar .nav-item ul li {
  text-decoration: none;
  text-transform: uppercase;
}
.banner .navbar .nav-item ul li a {
  text-decoration: none;
}
.banner .navbar .nav-item ul li a:hover {
  color: #eca052;
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}
.banner .banner-content h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}
.banner .banner-content p {
  text-transform: lowercase;
  color: white;
  font-style: italic;
  font-weight: 500;
}

.duis-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  margin-top: 2rem;
  padding: 0 2rem;
}
.duis-container .duis-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5px;
}
.duis-container .duis-item h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.design-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  width: 100%;
  background-color: #f7f7f7;
}
.design-container .img-container {
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-self: center;
}
.design-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.design-container .design-content {
  display: contents;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.design-container .design-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.design-container .design-content p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.design-container .design-content button {
  background-color: #eca052;
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 600;
}

.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
}
.client-container h2 {
  font-size: 24px;
}
.client-container .client-reviews-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  width: 90%;
  min-height: 350px;
  gap: 20px;
}
.client-container .client-reviews-container .reviws-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: start;
}
.client-container .client-reviews-container .reviws-item p {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: lighter;
  color: #000;
  font-weight: 400;
}
.client-container .client-reviews-container .reviws-item span {
  font-size: 15px;
  padding: 10px;
  width: 90%;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eca052;
  height: 200px;
  width: 100%;
  gap: 2rem;
}
.subscribe-container h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 800;
}
.subscribe-container form {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.subscribe-container form > * {
  height: 35px;
  width: 33.3333%;
}
.subscribe-container form .text {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}
.subscribe-container form .text-2 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.subscribe-container form input[placeholder] {
  border: none;
  background-color: white;
}
.subscribe-container form .btn {
  width: 120px;
  height: 40px;
  background-color: #393939;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  border: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393939;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 300px;
  width: 30%;
  height: 30%;
  margin-bottom: 40px;
}
footer .footer-logo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
footer .footer-content ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
  gap: 30px;
  margin-bottom: 30px;
}
footer .footer-content ul a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
footer .footer-content ul a:hover {
  color: #eca052;
}
footer p {
  color: white;
  margin-bottom: 20px;
}
footer p span {
  color: rgb(3, 44, 3);
}

@media (max-width: 768px) {
  .banner {
    height: 50vh;
  }
  .banner .navbar {
    background-color: rgba(0, 0, 0, 0.238);
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner .navbar .nav-item {
    width: 200px;
  }
  .banner .navbar .nav-item ul li a {
    font-size: 10px;
  }
  .banner .banner-content {
    text-align: center;
  }
  .banner .banner-content h1 {
    font-size: 1.5rem;
  }
  .client-container .client-reviews-container .client-reviw p {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .banner {
    width: 100%;
  }
  .banner .banner-content h1 {
    font-size: 1.2rem;
  }
  .duis-container {
    flex-direction: column;
  }
  .duis-container .duis-item {
    width: 50%;
    margin-bottom: 10px;
  }
  .duis-container .duis-item h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .design-container {
    text-align: center;
  }
  .design-container .design-content p {
    font-size: 10px;
  }
  .client-container {
    padding-bottom: 20px;
  }
  .client-container .client-reviews-container {
    flex-direction: column;
    gap: 40px;
  }
  .client-container .client-reviews-container p {
    font-size: 0.8rem;
  }
  .subscribe-container {
    text-align: center;
  }
  .subscribe-container h2 {
    font-size: 1.3rem;
  }
  .subscribe-container form {
    width: 100%;
  }
  .subscribe-container form .text {
    width: 80px;
    height: 30px;
  }
  .subscribe-container form .text-2 {
    width: 80px;
    height: 30px;
  }
  .subscribe-container form .btn {
    width: 70px;
    height: 30px;
    font-size: 10px;
    border-radius: 15px;
  }
  footer {
    width: 100%;
  }
  footer .footer-content ul {
    list-style: none;
    display: flex;
    margin-top: 5px;
    gap: 10px;
    margin-bottom: 30px;
  }
  footer .footer-content ul a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
  }
}
@media (max-width: 475px) {
  .banner .navbar .logo img {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */